@model DTO.ProjectDTO

<h3>Project Work Plan</h3>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div class="mb-3">
        <label class="form-label">Project Name</label>
        <input asp-for="ProjectName" class="form-control" readonly />
    </div>
       
}
